* {
    font: 20px Arial;
}

body {
    font: 20px Arial;
}

div {
    font: 40px Arial;
    text-decoration: underline;
}

div, p {
    font-weight: bold;
}

div.voorbeeldClass {
    border: 1px solid;
}

div#voorbeeldId {
    background-color: blue;
}