* {
    font: 20px Arial;
}

body {
    font: 20px Arial;
}
h1 {}



div {
    font: 40px Arial;
    text-decoration: underline;
}

div, p {
    font-weight: bold;
}



div#voorbeeldId {
    background-color: blue;
}

div.voorbeeldClass {
    font: 100px Arial;
    border: 1px solid;
}